node_modules
.vscode
.DS_Store
*.log
tmp
_build
temp
package-lock.json
yarn.lock
gemfile.lock
*.swp
*.swo
**/__pycache__
*.py[cod]
*.egg-info
*.pyc
__pycache__
*.egg
.env
*.env.*
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
